/* -----------------------------------
Variables
-------------------------------------- */

:root {
    --color-bg: #023e8a;
    --color-highlight: #F8F6F5;
    --color-default: #D2CABF;
    --color-dim: #8f8f8f;
    --color-high: #eb5e28;
    --font-sans: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    --font-serif: Times, serif;
    --font-size: 16px;
    --font-std: 14px;
    --font-size-serif: 18px;
    --spacing: 1.5em;
    --spacing-s: calc(0.5 * var(--spacing));
    --spacing-m: var(--spacing);
    --spacing-l: calc(1.5 * var(--spacing));
    --spacing-xl: calc(2.5 * var(--spacing));
    --spacing-xxl: calc(5 * var(--spacing));
    --spacing-col: calc(6 * var(--spacing));
    --spacing-width-max: 38rem;
    --spacing-width-tiny: 15rem;
    --spacing-width-xl: 50rem;
}

html#post {
    --color-bg: #F8F6F5;
    --color-default: #3b3a38;
    --color-highlight: #000;
    --color-dim: #93918F;
    --color-vdim: #c9c5c1;
}


/* -----------------------------------
Scrollbar
-------------------------------------- */

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-default) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-default);
  border-radius: 20px;
}

/* -----------------------------------
Base
-------------------------------------- */

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-feature-settings: "kern" 1,"liga" 1;
}

html {
    font-size: var(--font-std);
    font-family: var(--font-sans);
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-default);
    font-family: var(--font-sans);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "onum" 1, "liga" 1;
    font-size: var(--font-size);
    line-height: 1.5;
    padding: 1.5rem;
    overflow-y: scroll;
}

body {
    margin: 3vw 0 1vw 0;
}

section {
    margin-bottom: var(--spacing-xl);
}

/* -----------------------------------
Header
-------------------------------------- */

body>header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spacing-xxl);
    color: var(--color-dim);
}

body>header h1 {
    margin: 0;
}

body>header img {
    display: block;
    border-radius: 100%;
    height: calc(3 * var(--spacing));
    width: auto;
}

body>header a {
    text-decoration: none;
}

.hide{
  display: none !important;
}

.show{
  display: block;
  animation: fadeIn 1s ease-out;
  -webkit-animation: fadeIn 1s ease-out;
  -moz-animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    0% {
        display: none;
        visibility: none;
        opacity: 0;
    }
    20% {
      display: block;
      visibility: none;
      opacity: 0;
    }
    100% {
      display: block;
      visibility: visible;
      opacity: 1;
    }
}

@keyframes -webkit-fadeIn {
    0% {
        display: none;
        visibility: none;
        opacity: 0;
    }
    20% {
      display: block;
      visibility: none;
      opacity: 0;
    }
    100% {
      display: block;
      visibility: visible;
      opacity: 1;
    }
}

@keyframes -moz-fadeIn {
    0% {
        display: none;
        visibility: none;
        opacity: 0;
    }
    20% {
      display: block;
      visibility: none;
      opacity: 0;
    }
    100% {
      display: block;
      visibility: visible;
      opacity: 1;
    }
}

.language{
    max-width: var(--spacing-width-max);
    margin-left: auto;
    margin-right: auto;display: flex;
    justify-content: space-between;
    width: 100%;
  }



/* -----------------------------------
Typography
-------------------------------------- */

h1, h2, h3 {
    font-weight: 500;
    font-size: 1rem;
    margin: var(--spacing-s) 0;
    color: var(--color-highlight);
}

article h1 {
    margin-bottom: 0;
}

h2 {
    margin: var(--spacing-m) 0;
    /* font-weight: 700; */
}

h3 {
    margin: 0;
}

a, .link{
    color: var(--color-default);
    text-decoration-color: var(--color-dim);
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.05em;
    text-decoration: underline;
}

a:hover, .link:hover {
    transition: color 0.2s ease-in;
    color: var(--color-high);
    cursor: pointer;
}


h3 a {
    color: var(--color-highlight);
}

p, ol, ul {
    font-family: var(--font-serif);
    font-weight: normal;
    margin: 0.5em 0 1em 0;
    font-size: var(--font-size-serif);
    font-feature-settings: 'onum' 1;
}

blockquote {
    font-weight: normal;
}

figcaption {
    text-align: center;
    margin-top: var(--spacing-s);
    font-family: var(--font-sans);
    color: var(--color-dim);
    font-size: 14px;
}

small {
    font-size: var(--font-s);
    color: var(--color-dim);
    line-height: 1.5;
    display: block;
}

.label, time {
    color: var(--color-dim);
}

time {
    font-feature-settings: 'tnum' 1;
}

/* -----------------------------------
Block Elements
-------------------------------------- */

hr {
    margin: var(--spacing-xl) auto;
    max-width: calc(2 * var(--spacing-xxl));
    border: none;
    border-top: 1px solid var(--color-vdim);
}

figure, video, audio {
    display: block;
    width: 100%;
    margin: var(--spacing-xl) 0;
}

figure img {
    width: 100%;
    height: auto;
}

/* -----------------------------------
Home
-------------------------------------- */

.split {
    margin-bottom: var(--spacing-l);
}

.scontact {
    margin-bottom: var(--spacing-l);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.margcv{
  margin-top: 20px;
}

.downloadcv{
  color: var(--color-default);
  background-color: var(--color-dim);
  font-size: var(--base-font-size);
  border-radius: 0.25rem;
  border: 0px solid transparent;
  text-align: center;
  padding: 8px 10px 5px 10px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.downloadcv:hover{
  transition: all 0.2s ease-in-out;
  color: var(--color-default);
  background-color: var(--color-high);
  text-decoration: none;
}

.downloadcv:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }

.firma {
    text-align: center;
    color: var(--color-dim);
    font-weight: 500;
    font-size: 0.9rem;}


.firma a {
      color: var(--color-dim);
      transition: color 0.2s ease-in;
}


.split {
    display: grid;
    grid-template-columns: clamp(8em, 20vw, var(--spacing-col)) 1fr;
    align-items: baseline;
    margin-bottom: var(--spacing-s);
}
.split time { margin: 0; }
}

small + p {
    margin-top: var(--spacing-s);
}


/* -----------------------------------
Limit widths
-------------------------------------- */

body>header, article>header,
h1, h2, h3, time,
p, blockquote, ol, ul, details, pre.code, figcaption,
.split, .posts
{
    max-width: var(--spacing-width-max);
    margin-left: auto;
    margin-right: auto;
}

figure, audio, video {
    max-width: var(--spacing-width-xl);
    margin-left: auto;
    margin-right: auto;
}

.limit {
    max-width: var(--spacing-width-tiny);
    margin-left: auto;
    margin-right: auto;
}

iframe[src*="youtube"] {
    max-width: var(--spacing-width-xl);
    width: 100%;
	aspect-ratio: 16/9;
}


@media (max-width: 600px) {
.language{
    width: 100%;
  }

body > header {
    margin-bottom: var(--spacing-xl);
  }

.split {
  display: block;
  margin-bottom: var(--spacing-m);
}

p{
  margin: 0em 0 1em 0;
}

.label {
  margin-bottom: 0.5em;
}

}
